name: Release
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-manager:
    uses: ./.github/workflows/build-manager.yml
    secrets: inherit

  build-ksud-extra:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
    uses: ./.github/workflows/ksud.yml
    with:
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}
      pack_lkm: false
      pack_ksuinit: false

  release:
    needs:
      - build-manager
      - build-ksud-extra
    if: always() && needs.build-manager.result == 'success'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7

      - name: Rename ksud
        run: |
          mkdir -p ksud
          for dir in ./ksud-*; do
              if [ -d "$dir" ]; then
                 echo "----- Rename $dir -----"
                 ksud_platform_name=$(basename "$dir")
                 find "$dir" -type f -name "ksud" -path "*/release/*" | while read -r ksud_file; do
                   if [ -f "$ksud_file" ]; then
                     mv "$ksud_file" "ksud/$ksud_platform_name"
                   fi
                 done
              fi
          done

      - name: Display structure of downloaded files
        run: ls -R

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            manager/*.apk
            android*-lkm/*_kernelsu.ko
            ksud/ksud-*
            ksuinit/**
